<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>YunoHost Portal</title>

  <!-- Responsive -->
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

  <!-- Do not index SSOWat pages -->
  <meta name="robots" content="noindex, nofollow">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/css/ynh_portal.css">
  <link rel="stylesheet" href="assets/themes/default/custom_portal.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="assets/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="assets/icons/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="assets/icons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="assets/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/icons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#41444f">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>
<body class="ynh-user-portal logged">

  <div id="ynh-logo" class="ynh-logo">
    <span class="element-invisible">Yunohost</span>
  </div>

  <div class="content">


<div class="ynh-wrapper user">
  <ul class="user-menu">
    <li><a id="ynh-logout" class="icon icon-connexion" href="?action=logout">Abmelden</a></li>
  </ul>

  <a class="user-container user-container-info" href="edit.html">
    <h2 class="user-username">jonas</h2>
    <small class="user-fullname">Jonas Hucklenbroich</small>
    <span class="user-mail">jonas@hucklenbroich.tk</span>
  </a>

</div>

<div id="apps" class="wrapper apps">
  <ul class="listing-apps">
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;riot" data-appname="Chat">
        <span class="first-letter"></span>
        <span class="name">Chat</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;nextcloud" data-appname="Cloud">
        <span class="first-letter"></span>
        <span class="name">Cloud</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;irc" data-appname="IRC client">
        <span class="first-letter"></span>
        <span class="name">IRC client</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;jellyfin" data-appname="Jellyfin">
        <span class="first-letter"></span>
        <span class="name">Jellyfin</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;onlyoffice" data-appname="OnlyOffice">
        <span class="first-letter"></span>
        <span class="name">OnlyOffice</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;strut" data-appname="Präsentation">
        <span class="first-letter"></span>
        <span class="name">Präsentation</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;date" data-appname="Termin Planer">
        <span class="first-letter"></span>
        <span class="name">Termin Planer</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;torrent" data-appname="Transmission">
        <span class="first-letter"></span>
        <span class="name">Transmission</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;short" data-appname="URL Shorter">
        <span class="first-letter"></span>
        <span class="name">URL Shorter</span>
      </a>
    </li>
    <li>
      <a class="app-tile" href="https://huckcloud.tk&#x2F;zerobin" data-appname="Zerobin">
        <span class="first-letter"></span>
        <span class="name">Zerobin</span>
      </a>
    </li>
  </ul>
</div>
  <div class="ynh-wrapper footer"><nav>
    <a class="link-profile-edit" href="edit.html">Mein Profil bearbeiten</a>
    <a class="link-documentation" href="//yunohost.org/docs" target="_blank">Dokumentation</a>
    <a class="link-documentation" href="//yunohost.org/help" target="_blank">Support</a>
    <a class="link-admin" href="/yunohost/admin/" target="_blank">Verwaltung</a>
  </nav></div>

  </div>

  <!-- Scripts -->
  <script src="assets/js/ynh_portal.js"></script>
  <script src="assets/themes/default/custom_portal.js"></script>
</body>
</html>

